* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.title {
    color: #FFF;

    &__big {
        font-size: 64px;
        font-weight: 700;
        margin-bottom: 32px;
    }
}

.top {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__home {
        padding-top: 218px;
        height: 1024px;
        background-image: url(img/bgi__top.png);
    }

    &__button {
        width: 234px;
        height: 48px;
        border: none;
        border-radius: 30px;
        background: #9C0332;
    }

    &__text {
        color: #FFF;
        font-size: 18px;
        font-weight: 300;
        line-height: 32px;
        margin-bottom: 44px;

        &_bold {
            font-weight: bold;
        }
    }
}

.link {
    color: #FFF;

    &__top {
        font-size: 18px;
        font-weight: 400;
    }
}

.content {
    padding-top: 128px;
    padding-bottom: 128px;
    background-color: #000915;

    &-box {
        display: flex;
        column-gap: 32px;
    }

    &__link {
        width: 379px;
        height: 300px;
        color: #FFF;
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-left: 32px;
        padding-bottom: 32px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;


        &_1 {
            background-image: url(img/bgi__c_1.png);
        }

        &_2 {
            background-image: url(img/bgi__c_2.png);
        }

        &_3 {
            background-image: url(img/bgi__c_3.png);
        }

    }
}